@charset "utf-8";
/* CSS Document */

/*html,body{
	width:100%;
	min-height: 100%;
	padding:0;
	margin:0;
	background:#f5f5f5;
} */

/*
#container{
	height: auto;
	padding:158px;
	text-align:center;
}*/


#btnCheck
{
	background: #2FAA96;
	color:#000000;
	text-align: center;
	transition:all 0.1s ease;
	font-size: "Pala";
}

#btnCheck:hover
{
	background:#2FAA96;
	cursor:pointer;
	font-size:19px;
	transition: all 0.1s ease;
}

.input-lg
{
	width:250px;
	height: 40px;
	border-radius:3px;
	border:1px solid #ccc;
	font-family:"Pala"; 
	font-size:22px;
}


.text-submit
{
	font-size:20px;
}

.shaker{
	-webkit-animation:shakeIt 0.3s linear 4;
	-moz-animation:shakeIt 0.3s linear 4;
	-ms-animation:shakeIt 0.3s linear 4;
	-o-animation:shakeIt 0.3s linear 4
	animation:shakeIt 0.3s linear 4;
	border-color:#C00;
}

@keyframes shakeIt{
	0%{transform:translateX(-15px);}
	25%{transform:translateX(15px);}
	50%{transform:translateX(-15px);}
	100%{transform:translateX(0px);}
}

@font-face()
{
	font-family:"Pala";
	src:url(fonts/Pala/pala.ttf),url(fonts/Pala/pala.eot),url(fonts/Pala/pala.otf);
}

/*@media (max-width: 400px){
	#principal{
		width:60%;
	}
}*/


* {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background:url(bg.jpg) #F0F0F0;
	background-size:cover;
	color:#fff;
	font-size: 17px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	/*margin:auto;*/
}

.widget {
	width: 92%;
	margin: 8px;
	/*margin:32px; */
}

.widget p {
	display: inline-block;
	line-height: 0em;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	font-size:17px;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: rgba(0,0,0,.5);
	padding: 15px;
	width: 100%;
}

.reloj {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 10px;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	background: rgba(0,0,0,.5);
}

.reloj .caja-segundos {
	display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 18px;
	display: block;
	padding:5px;
}


